{% extends 'base.html' %}
{% load  i18n %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_current_language as CURRENT_LANGUAGE %}
{% block title %}Account Settings {% endblock %}
{% block main %}
  <div class="page-header">
      <h1>{% trans 'Account Settings' %}</h1>
  </div>

  <div class="row" style="margin-top:2em">
      <div class="col-md-3">
        {% include 'core/partial-setting-menu.html' with active='profile' %}
      </div>
      <div class="col-md-9">
        {% if messages %}
          {% for message in messages %}
             <div class="'alert alert-success alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
                 {{message}}
             </div>
          {% endfor %}
        {% endif %}
        <h3 style="margin-top:0">{% trans 'Edit Profile' %}</h3>
        <form class="form-horizontal" action="{% url 'settings' %}" role="form" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
               <div class="form-group{% if field.errors %} has-error {% endif %}">
                   <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                   <div class="col-sm-10">
                       {{ field }}
                       {% if field.help_text %}
                          <div class="control-label">{{ field.help_text }}</div>
                       {% endif %}
                       {% if field.errors %}
                          {% for error in field.errors %}
                              <div class="control-label">{{ error }}</div>
                          {% endfor %}
                       {% endif %}

                   </div>
               </div>
            {% endfor %}
         <!--   {% comment %} -->
               <div class="form-group">
                   <label for="language">{% trans 'available language' %}</label>
                   <select class="form-control" id="language" name="language">
                       {% for language in AVAILABLE_LANGUAGES %}
                          <option value="{{ language.0 }}">{{ language.1 }}</option>
                       {% endform %}
                   </select>
               </div>

     <!--       {% endcomment %} -->
            <div class="form-group"><button type="submit" class="btn btn-primary btn-lg">{% trans 'Submit' %}</button></div>
        </form>
      </div>

  </div>
{% endblock %}